.messages__list {
  overflow-y: auto;

  list-style: none;

  max-height: 300px;
  margin: 0;
  padding: 0;

  border-bottom: 1px solid #f2f2f2;
}

.messages__send {
  position: relative;

  width: 100%;
}

.messages__input {
  width: 100%;
  padding: 15px;

  font-size: 14px;

  border: none;
  outline: none;
  box-shadow: none;

  -webkit-appearence: none;
}

.messages__empty {
  margin: 20px;
}
